In [1]:
import pandas as pd
import lightgbmmt as lgb
from sklearn.preprocessing import LabelEncoder
import numpy as np

这里使用的房屋售价预测数据，y1是销售价，y2是将平均房价>120的设置为1,<120的设置为0   
所以，对于y1是回归任务，对于y2是分类任务

In [2]:
df=pd.read_csv("./data/train.csv")

In [3]:
df["y1"]=df["SalePrice"]

In [4]:
df=df.drop("Id",axis=1).drop("SalePrice",axis=1)

In [5]:
df=df.fillna(-1)

In [6]:
cate_cols=[col for col in  df.columns if df[col].dtype=='object']

In [7]:
for col in cate_cols:
    df[col]=LabelEncoder().fit_transform(df[col].apply(lambda x:str(x)))

In [8]:
df.head(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,y1
0,60,3,65.0,8450,1,0,3,3,0,4,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,80.0,9600,1,0,3,3,0,2,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,68.0,11250,1,0,0,3,0,4,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,60.0,9550,1,0,0,3,0,0,...,0,0,0,0,0,2,2006,8,0,140000
4,60,3,84.0,14260,1,0,0,3,0,2,...,0,0,0,0,0,12,2008,8,4,250000

In [9]:
trn_df=df[:1200]
val_df=df[1200:]

In [10]:
trn_y=trn_df[["y1"]]
val_y=val_df[["y1"]]

In [11]:
trn_x=trn_df.drop(["y1"],axis=1)
val_x=val_df.drop(["y1"],axis=1)

In [12]:
def jc(y,pred):
    df=pd.DataFrame({"y":y,"pred":pred})
    df=df.sort_values("pred")
    num=len(df)//10
    return df[-num:]["y"].mean()/df[0:num]["y"].mean()

base:只训练y1

In [13]:
param = {
    'num_leaves':48, 
    'objective':'regression',
    'max_depth':6,
    'learning_rate':.03,
    'max_bin':200,
    'lambda_l1':0.1,
    'lambda_l2':0.2,
    'verboses':10,
    'metrics':"rmse",
    'num_threads':4,
    'tree_learner': 'serial2'}

In [14]:
trn_data=lgb.Dataset(trn_x,label=trn_y["y1"],categorical_feature=cate_cols)
val_data=lgb.Dataset(val_x,label=val_y["y1"],categorical_feature=cate_cols)
clf=lgb.train(param,trn_data,verbose_eval=10,
                num_boost_round=200,valid_sets=[trn_data,val_data])
clf.set_num_labels(1)

/home/alei/anaconda3/lib/python3.8/site-packages/lightgbmmt/basic.py:1297: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[10]	training's rmse: 63630.2	valid_1's rmse: 56465.5
[20]	training's rmse: 51283.4	valid_1's rmse: 46026.9
[30]	training's rmse: 42493	valid_1's rmse: 38870.1
[40]	training's rmse: 35905.8	valid_1's rmse: 34372.3
[50]	training's rmse: 30888.4	valid_1's rmse: 31729.8
[60]	training's rmse: 27349.1	valid_1's rmse: 30066.1
[70]	training's rmse: 24871.5	valid_1's rmse: 29238.2
[80]	training's rmse: 23151.4	valid_1's rmse: 28894.8
[90]	training's rmse: 21930.2	valid_1's rmse: 28863.1
[100]	training's rmse: 20991.3	valid_1's rmse: 28699.6
[110]	training's rmse: 20212.4	valid_1's rmse: 28697.9
[120]	training's rmse: 19654.5	valid_1's rmse: 28774.3
[130]	training's rmse: 19130.8	valid_1's rmse: 28726.7
[140]	training's rmse: 18740.7	valid_1's rmse: 28723.6
[150]	training's rmse: 18220.1	valid_1's rmse: 28799.7
[160]	training's rmse: 17830.8	valid_1's rmse: 28811.9
[170]	training's rmse: 17498.7	valid_1's rmse: 28881.8
[180]	training's rmse: 17140.7	valid_1's rmse: 28926.5
[190]	training's rmse: 16819.1	valid_1's rmse: 28958.2
[200]	training's rmse: 16553.5	valid_1's rmse: 28989

In [15]:
jc(val_y["y1"],clf.predict(val_x))

inner_predict 260

3.487262909917235

根据极差定义，模型应该更加关注头部和尾部的数据，所以需要对这两部分书施加更大的处罚(损失函数对应更大的权重)，这里使用如下公式去调整权重：   
$$weight(y)=exp(\frac{|y-y_m|}{y_m})$$  
这里的$y_m$表示中位数/均值，头部和尾部数据原理中位数/均值越远，所以其权重会越大。

In [26]:
ym=np.mean(trn_y["y1"])
ym

181414.62833333333

In [27]:
param = {
    'num_leaves':48, 
    'max_depth':6,
    'learning_rate':.03,
    'max_bin':200,
    'lambda_l1':0.1,
    'lambda_l2':0.2,
    'verbose': 5,
    'objective':'custom',           
    'tree_learner': 'serial2',
    'num_threads':4}

In [28]:
num_labels=1
def object_func(preds, train_data, ep = 0):
    labels = train_data.get_label()
    labels2 = labels.reshape((num_labels,-1)).transpose().reshape(-1)  
    preds2 = preds.reshape((num_labels,-1)).transpose().reshape(-1)
    
    #regression
    grad_regress=(preds2-labels2)*np.exp(np.abs(labels2-ym)/ym)
    hess_regress=grad_regress*0+1*np.exp(np.abs(labels2-ym)/ym)
    
    return grad_regress, hess_regress

def eval_func(preds, train_data):
    labels = train_data.get_label()
    labels2 = labels.reshape((num_labels,-1)).transpose().reshape(-1)
    preds2 = preds.reshape((num_labels,-1)).transpose().reshape(-1)
    #regression score
    regress_score = np.mean((labels2-preds2) ** 2)**0.5
    total_score=regress_score
    return 'score', total_score, False

In [29]:
trn_data=lgb.Dataset(trn_x,label=trn_y.values.reshape(-1),categorical_feature=cate_cols)
val_data=lgb.Dataset(val_x,label=val_y.values.reshape(-1),categorical_feature=cate_cols)
clf=lgb.train(param,trn_data,verbose_eval=10,fobj=object_func,feval=eval_func,
                num_boost_round=200,valid_sets=[trn_data,val_data])
clf.set_num_labels(1)

[10]	training's score: 146335	valid_1's score: 142221
[20]	training's score: 108070	valid_1's score: 105262
[30]	training's score: 80285.8	valid_1's score: 78504.4
[40]	training's score: 60352	valid_1's score: 60114.4
[50]	training's score: 46350.5	valid_1's score: 47992.7
[60]	training's score: 36907.9	valid_1's score: 40907.7
[70]	training's score: 30854.7	valid_1's score: 37360.9
[80]	training's score: 27181.7	valid_1's score: 35838.2
[90]	training's score: 25087.8	valid_1's score: 35524.9
[100]	training's score: 23810.5	valid_1's score: 35592.8
[110]	training's score: 22948.1	valid_1's score: 35949.9
[120]	training's score: 22181.8	valid_1's score: 36293.1
[130]	training's score: 21603.6	valid_1's score: 36442.9
[140]	training's score: 20917.9	valid_1's score: 36319
[150]	training's score: 20414.2	valid_1's score: 36380.7
[160]	training's score: 19971.5	valid_1's score: 36416.7
[170]	training's score: 19524.7	valid_1's score: 36413.4
[180]	training's score: 19183.5	valid_1's score: 36454.4
[190]	training's score: 18833.6	valid_1's score: 36512.7
[200]	training's score: 18437.5	valid_1's score: 36345.4

In [30]:
jc(val_y["y1"],clf.predict(val_x))

inner_predict 260

3.503316336087581